<style>
  
  div.preview-images > img {
    width: 30%;
  }

  body {
    background: url("https://res.cloudinary.com/dsndzibyq/image/upload/v1587843962/background_o9ahb7.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 50%;
  }

  #registration{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }
  html {
  font-family: 'Montserrat', sans-serif;
  }

  body {
  font-family: 'Montserrat', sans-serif;
  }

  pre, code, kbd, samp {
  font-family: 'Montserrat', sans-serif;
    }

  input, button, select, optgroup, textarea {
  font-family: inherit;
  }

  .tooltip {
  font-family: 'Montserrat', sans-serif;
  }

  .popover {
  font-family: 'Montserrat', sans-serif;
  }

  .text-monospace {
  font-family: 'Montserrat', sans-serif;
  }
  input{
    background-color: #c4c4c4 !important;
  }

  input, textarea{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    background-color: red;
  }

  button{
    font-family: 'Montserrat', sans-serif !important;
  }
  
  #file{
    margin-top:15px;
  }
</style>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    
      <h1 class="text-center mb-3" id ="registration">
        <img src="https://res.cloudinary.com/insitecloud/image/upload/v1587846987/Screen_Shot_2020-04-25_at_3.17.57_PM_lwmcp6.png"> 
      </h1>
      <%- include('./partials/messages.ejs'); %>
      <form action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        <div class="form-group">
        <input
          type="file"
          id="file"
          name="file"
          class="form-control-file"
          />
        </div>
        <div class="form-group">
            <div class="preview-images"></div>
        </div>
        <div class="col-md-5 m-auto"></div>
        <button type="submit" class="btn btn-primary btn-block" id='endButton'>
          Sign Up
        </button>
        </div>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  // Profile pic preview
  $(document).ready(function() {
    let imagesPreview = function(input, placeToInsertImagePreview) {
      if (input.files) {
        let filesAmount = input.files.length;
        for (i = 0; i < filesAmount; i++) {
          let reader = new FileReader();
          reader.onload = function(event) {
            $($.parseHTML("<img>"))
              .attr("src", event.target.result)
              .appendTo(placeToInsertImagePreview);
          };
          reader.readAsDataURL(input.files[i]);
        }
      }
    };
    $("#input-files").on("change", function() {
      imagesPreview(this, "div.preview-images");
    });
  });
</script>