<style>
  

  body {
    background: url("https://res.cloudinary.com/dsndzibyq/image/upload/v1587843962/background_o9ahb7.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 50%;
  }

  #registration{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }
  html {
  font-family: 'Montserrat', sans-serif;
  }

  body {
  font-family: 'Montserrat', sans-serif;
  }

  pre, code, kbd, samp {
  font-family: 'Montserrat', sans-serif;
    }

  input, button, select, optgroup, textarea {
  font-family: inherit;
  }

  .tooltip {
  font-family: 'Montserrat', sans-serif;
  }

  .popover {
  font-family: 'Montserrat', sans-serif;
  }

  .text-monospace {
  font-family: 'Montserrat', sans-serif;
  }
  input{
    background-color: #c4c4c4 !important;
  }

  input, textarea{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    background-color: red;
  }

  button{
    font-family: 'Montserrat', sans-serif !important;
  }
  
  #previewButton{
    margin-top:15px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
</style>

<div class="row mt-5">
  <div class="col-md-4 m-auto">
    
      <h1 class="text-center mb-3" id ="registration">
        <a href='/' ><img src="https://res.cloudinary.com/insitecloud/image/upload/v1587846987/Screen_Shot_2020-04-25_at_3.17.57_PM_lwmcp6.png" > </a>
      </h1>
      <%- include('./partials/messages.ejs'); %>
      <form action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        <div class="form-group">
          <div class="input-group" id='previewIm' style = "visibility: hidden;">
            <span class="input-group-btn" id = 'previewButton' style = "visibility: visible;">
                <span class="btn btn-secondary btn-file" style = "background-color:#666363;">
                    Choose file <input type="file" id="file" name="file">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
          <img id='img-upload'/>
        </div>
        <div class="form-group">
            <div class="preview-images"></div>
        </div>
        <div class="col-md-5"></div>
        <button type="submit" class="btn btn-primary btn-block" id='endButton'>
          Sign Up
        </button>
        </div>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  $(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    $('#previewIm').show();
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#file").change(function(){
		    readURL(this);
		}); 	
	});
</script>